@import "tailwindcss";

@theme {
  --font-family: 'Noto Sans KR', sans-serif;

  --font-noto-sans-kr: 'Noto Sans KR', sans-serif;
}

/* 98.css 폰트 설정을 덮어쓰기 위한 강제 적용 */
* {
  font-family: var(--font-family) !important;
}

body {
  background: #008080;
  font-family: var(--font-family);
}

